---
import { getCollection, type CollectionEntry } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import { useTranslatedPath } from '../../i18n/utils';


const translatePath = useTranslatedPath("en");


export async function getStaticPaths() {
  const posts = await getCollection("blog", ({id}) => {
    return id.startsWith('en/')
  });

  // Ordenar las publicaciones por fecha (o cualquier otro criterio)

  const sortedPosts = posts.sort((a, b) => {
    // @ts-ignore
    return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
  });

  return sortedPosts.map((post, index) => {
    const previousPost = sortedPosts[index - 1] || null;

    const nextPost = sortedPosts[index + 1] || null;

    return {
      params: { slug: post.slug },

      props: {
        post,

        previousPost: previousPost
          ? { slug: previousPost.slug, title: previousPost.data.title }
          : null,

        nextPost: nextPost
          ? { slug: nextPost.slug, title: nextPost.data.title }
          : null,
      },
    };
  });
}

type Props = {
  post: CollectionEntry<"blog">;
  previousPost: { slug: string; title: string } | null;
  nextPost: { slug: string; title: string } | null;
};

const { post, previousPost, nextPost } = Astro.props;
const { Content } = await post.render();
export const prerender = true;
---

<BlogPost {...post.data}>
  
  <Content />
  <div
    class="py-10 gap-5 grid grid-cols-2 mx-auto max-w-screen-xl text-center transition-transform">
    {
      previousPost && (
        <a
        href={`${translatePath("/blog")}/${previousPost.slug}/`}
          class="prev font-bold bg-second text-white p-2 rounded-lg hover:scale-102"
        >
          ← Artículo Anterior:{" "}
          <span class="font-normal">{previousPost.title}</span>
        </a>
      )
    }

    {
      nextPost && (
        <a
        href={`${translatePath("/blog")}/${nextPost.slug}/`}
          class="next font-bold bg-second text-white p-2 rounded-lg hover:scale-102"
        >
          Artículo Siguiente:{" "}
          <span class="font-normal">{nextPost.title} →</span>
        </a>
      )
    }
  </div>
</BlogPost>
