---
// @ts-nocheck

import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../../i18n/utils';
import PropertySwiper from "../../components/sections/PropertySwiper.astro";
import FeaturesListEng from "../../components/sections/FeaturesListEng.astro"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);


const urlGetProperty = "https://api.wasi.co/v1/property/get/";
const options = {
    method: "POST",
    headers: {
        "Content-Type": "application/json; charset=UTF-8",
        Authentication: `Bearer ${import.meta.env.PUBLIC_ID_COMPANY}`,
    }
};
let property = null;
async function fetchProperty(params: Record<string, string | undefined>) {
    const propertyId = params.id_property;
    try {
        const response = await fetch(`${urlGetProperty}${propertyId}?id_company=${import.meta.env.PUBLIC_ID_COMPANY}&wasi_token=${import.meta.env.PUBLIC_WASI_TOKEN}`, options);
        property = await response.json();
    }
    catch (error) {
        console.error("Error fetching property:", error);
    }
}
// Llamar a la función con los parámetros disponibles
await fetchProperty(Astro.params);

---
<Layout title={property.title}>
   <section class="pt-32 pb-16">
      {/*                
        <div class="mx-auto px-6 md:px-12">
                  <button  onclick="window.history.back()">
                    Back
                  </button>
        </div>
      */}
  
    {property ? (
                  <div class="mx-auto max-w-6xl px-6 md:px-4">
                      <div class="mt-12">                           
                          <h2 class="text-2xl font-heading uppercase text-gray-900 sm:text-4xl lg:text-5xl pb-5">{property.title}</h2>                
                          <p class="text-md tracking-wide uppercase font-pattern text-zinc-500"> {property.city_label}</p>
                          <p class="text-sm tracking-wide uppercase font-pattern text-zinc-500"> {property.zone_label}</p>
                      </div>
                  
                      {/*
                      <p class="mt-8 text-sm text-zinc-600 text-zinc-200 sm:w-2/3 xl:w-1/2 capitalize font-pattern">{property.address}</p>
                      */}
                  </div>
                 
                  <PropertySwiper />
                  <!-- Características -->
                        <div class="m-auto max-w-5xl mx-auto flex flex-wrap justify-center gap-12 text-center">

                          <!-- Área -->
                          <div class="flex flex-col items-center space-y-2">
                            <Icon name="area_vector" class="text-main text-2xl" />
                    
                            <p class="font-pattern  text-sm">{property.built_area ? `${property.built_area} m²` : ''}</p>
                          </div>

                          <!-- Baños -->
                          <div class="flex flex-col items-center space-y-2">
                            <Icon name="bath_vector" class="text-main text-2xl" />
                            
                    
                            <p class="font-pattern text-sm">{property.bathrooms || ''} {t("property.bath")}</p>
                          </div>

                          <!-- Habitaciones -->
                          <div class="flex flex-col items-center space-y-2">
                            <Icon name="bed_vector" class="text-main text-2xl" />
                            
                      
                            <p class="font-pattern text-sm">{property.bedrooms || ''} {t("property.bed")} </p>
                          </div>
                     
                          <!-- Disponibilidad -->
                          <div class="flex flex-col items-center space-y-2">
                            <Icon name="available_vector" class="text-main text-2xl" />
                            
                      
                            <p class="font-pattern text-sm">{property.availability_label}</p>
                          </div>

                        </div>

                    ) : (
                    <p>Cargando datos de la propiedad...</p>
                  )}
      </section>



      <section class="bg-main">
        <div class="mx-auto max-w-6xl px-6 md:px-4">
        
          <div class="h-32 rounded-lg  items-center place-content-center text-center">
            <p class="font-pattern text-2xl">
            
              {
                property.for_sale === 'true' && property.sale_price_label && property.sale_price_label !== 0 ? (
                  <span>{t("prop.sale")} {property.sale_price_label}</span>
                ) : property.for_rent === 'true' && property.rent_price_label && property.rent_price_label !== 0 ? (
                  <span>{t("prop.rent")}  {property.rent_price_label}</span>
                ) : null
              }
              
              
              
            </p>
          </div>
         
        
      </div>
      </section>
      
         
      <FeaturesListEng />


      
      
      
</Layout>
