---
import WhatsappSVG from "../../icons/whatsapp.svg"
import LocationIcon from "../../icons/location.svg"
import Logo from "../../icons/br_logo.svg"

import { Icon } from "astro-icon/components";
import EnvelopSVG from "../../icons/envelop_vector.svg"

import { getLangFromUrl, useTranslations, useTranslatedPath } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);


const date = new Date();

const footerData = [
  {
    title: t("nav.about"),
    items: [
      { text: t("nav.who"), href : translatePath("/who-we-are/") },
      { text: t("nav.team"), href : translatePath("/our-team/") },
    ],
  },
  {
    title: "Servicios",
    items: [
      { text: t("nav.manage"), href : translatePath("/property-management/") },
      { text: t("nav.concierge"), href : translatePath("/luxury-concierge/") },
    ],
  },
  {
    title: "Enlaces útiles",
    items: [
      { text: t("nav.pqrs"), href : "#" },
      { text: t("nav.support"), href : "#" }
    ],
  },
];
---

<footer class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 pb-6 pt-16 sm:px-6 lg:px-8 lg:pt-24">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div>
        <div class="flex justify-center text-teal-600 sm:justify-start">
          <a href={translatePath("/")}>
            <Logo size={100} />
          </a>
        </div>

        <p class="mt-6 max-w-md text-center font-pattern leading-relaxed text-gray-500 sm:max-w-xs sm:text-left">
         {t("nav.msg")}
        </p>
          
        <ul class="mt-8 flex justify-center items-center gap-3 sm:justify-start md:gap-5">
          <li>
            <a
              href="https://www.facebook.com/profile.php?id=61555851065583"
              rel="noreferrer"
              target="_blank"
              class=" transition hover:text-teal-700/75"
            >
              <span class="sr-only">Facebook</span>
              <Icon size={25} class="hover:scale-110" name="facebook" />
            </a>
          </li>

          <li>
            <a
              href="https://www.instagram.com/brsolutions_co"
              rel="noreferrer"
              target="_blank"
              class=" transition hover:text-teal-700/75 "
            >
              <span class="sr-only">Instagram</span>
              <Icon size={25} class="hover:scale-110" name="instagram" />
            </a>
          </li>

          <li>
            <a
              href="https://www.linkedin.com/company/br-solutions-co/"
              rel="noreferrer"
              target="_blank"
              class=" transition hover:text-teal-700/75"
            >
              <span class="sr-only">LinkedIn</span>
              <Icon size={30} class=" hover:scale-110" name="linkedin" />
            </a>
          </li>

          <li>
            <a
              href="https://youtube.com/@brsolutionsco?si=q5_0lmUNHiwfX47c"
              rel="noreferrer"
              target="_blank"
              class=" transition hover:text-teal-700/75"
            >
              <span class="sr-only">Youtube</span>
              <Icon size={25} class="hover:scale-110 items-center" name="youtube" />
            </a>
          </li>

          <li>
            <a
              href="https://www.tiktok.com/@br.solutions?_t=ZS-8tOmV1Wiozv&_r=1"
              rel="noreferrer"
              target="_blank"
              class=" transition hover:text-teal-700/75"
            >
              <span class="sr-only">Tiktok</span>
              <Icon size={25} class="hover:scale-110" name="tiktok" />
            </a>
          </li>

        </ul>
      </div>

      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-4 lg:col-span-2">
        <div class="text-center sm:text-left">
          <p class="text-lg uppercase font-pattern text-gray-900">{t("nav.about")}</p>

          <ul class="mt-8 space-y-4 text-sm">
           {
            footerData[0].items.map((item) => (
            <li>
                <a class="text-gray-700  transition font-pattern uppercase hover:text-gray-700/75" href={item.href}>
                  {item.text}
                </a>
            </li>
            ))
           }

          </ul>
        </div>

        <div class="text-center sm:text-left">
          <p class="text-lg uppercase font-pattern text-gray-900">{t("nav.services")}</p>

          <ul class="mt-8 space-y-4 text-sm">
            {
              footerData[1].items.map((item) => (
                <li>
                  <a class="text-gray-700 transition font-pattern uppercase hover:text-gray-700/75" href={item.href}>
                    {item.text}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>

        <div class="text-center sm:text-left">
          <p class="text-lg uppercase font-pattern text-gray-900">{t("nav.links")}</p>

          <ul class="mt-8 space-y-4 text-sm">
            {
              footerData[2].items.map((item) => (
                <li>
                  <a class="text-gray-700 transition font-pattern uppercase hover:text-gray-700/75" href={item.href}>
                    {item.text}
                  </a>
                </li>
              ))
            }

           
          </ul>
        </div>

        <div class="text-center sm:text-left">
          <p class="text-lg uppercase font-pattern text-gray-900">{t("nav.contact")}</p>

          <ul class="mt-8 space-y-4 text-sm">
           

           <li class="flex sm:justify-start items-center justify-center  gap-1.5">
             <WhatsappSVG size={20} />
              <a href="https://api.whatsapp.com/send/?phone=573242016401&text=Hola%2C%20estoy%20interesado%20en%20sus%20servicios">
                <span class=" p-1 font-pattern text-xs">+57 324 201 6401</span>
              </a>
            </li>

          
            <li class="flex sm:justify-start items-center justify-center gap-1.5">
              <EnvelopSVG size={20} />
                <a href="mailto:info@brsolution.com.co">
                <span class="text-white p-1 font-pattern text-xs bg-second rounded-2xl">
                  info@brsolution.com.co
                </span>
              </a>
            </li>

            <li class="flex sm:justify-start items-center justify-center gap-1.5">
              <LocationIcon size={20} />

              <address class="-mt-0.5 not-italic text-gray-700 font-pattern uppercase">
                Cartagena de Indias, Colombia
              </address>
            </li>

          </ul>
        </div>
      </div>
    </div>

    <div class="mt-12 border-t border-gray-100 pt-6">
      <div class="text-center sm:flex sm:justify-between sm:text-left">
        <a href="http://devs.sarpin.agency/" target="_blank">
          <span class="font-pattern block sm:inline text-sm text-gray-400 hover:text-[#60C11C] pb-5 md:p-0">sarpin.agency</span>
        </a>
        <p class="text-sm text-gray-500">
          
          <a
            class="inline-block font-pattern text-main transition hover:text-second"
            href={translatePath("/terms-and-conditions")}>
              {t("nav.terms")}
          </a>

          <span>&middot;</span>

          <a
            class="inline-block font-pattern text-main transition hover:text-second"
            href={translatePath("/privacy-policy")}>
              {t("nav.privacy")}
          </a>
        </p>
        
        <p class="mt-4 text-sm font-pattern text-gray-500 sm:order-first sm:mt-0">
          BR SOLUTIONS &copy; {date.getFullYear()}. {t("nav.rights")} </p>
      </div>
    </div>
  </div>
</footer>