---
// @ts-nocheck
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../../i18n/utils';
import LanguagePickerMobile from "../../components/sections/LanguagePickerMobile.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const navItems = {
  links: [
    { href: translatePath("/buy/"), text: t("nav.buy") },
    { href: translatePath("/rent/"), text: t("nav.rent") },
    { href: translatePath("/blog"), text: "Blog" },
  ],
  dropmenu: [
    {
      title: t("nav.services"),
      sub: t("nav.solution"),
      dropdown: [
        { href: translatePath("/property-management/"), text: t("nav.manage") },
        { href: translatePath("/maintenance-management/"), text: t("nav.main") },
       ]
    },
    {
      title: t("nav.about"),
      dropdown: [
        {href: translatePath("/who-we-are/") , text: t("nav.who") },
        {href: translatePath("/our-team/") , text: t("nav.team") },
      ]
    },
    {
      title: t("nav.concierge"),
      dropdown: [
        {href: translatePath("/daily-assistance/"), text: t("nav.daily") },
        {href: translatePath("/tourist-plans/"), text: t("nav.tourist")},
        {href: translatePath("/experiences/"), text: t("nav.experiences")},
      ]
    },
    {
      title: t("nav.transport"),
      dropdown: [
          {href: translatePath("/land-transport/") , text: t("nav.land")},
          {href: translatePath("/nautical-transport/") , text: t("nav.nautical")},
      ]
    },
  ]
};

const links = navItems.links;

const dropdowns = navItems.dropmenu[0].dropdown;
const dropabout = navItems.dropmenu[1].dropdown;
const dropluxury = navItems.dropmenu[2].dropdown;
const transportation = navItems.dropmenu[3].dropdown;
---

<div x-data="{ openToggle: false }">
    <!-- Botón de menú -->
    <div class="md:hidden" @click="openToggle = ! openToggle">
      
        <button type="button" class="text-black focus:outline-none" aria-label="Main menu mobile" :aria-expanded="openToggle.toString()">
            <div class="w-5 h-0.5 rounded-full bg-black mb-1"></div>
            <div class="w-5 h-0.5 rounded-full bg-black mb-1"></div>
            <div class="w-5 h-0.5 rounded-full bg-black"></div>
        </button>
    </div>

    

    <!-- Menú móvil -->
    <div x-show="openToggle" x-cloak  class="flex flex-col mt-16 lg:hidden absolute top-4 left-0 bg-white  w-full items-center gap-2 py-5 pb-10" @click.away="openToggle = false">
      <LanguagePickerMobile />
        {links.map(({ href, text}) => (
            <a
                class="hover:text-main font-pattern px-3 py-2 rounded-md text-sm font-light uppercase"
                href={href} 
            >
                {text}
            </a>
        ))}

        <!-- Dropdown para Services Móvil -->
        <div x-data="dropdown"  class="w-full text-center">

            <button
                class="hover:text-main px-3 py-2 rounded-md text-sm font-pattern font-light uppercase focus:outline-none inline-flex items-center transition-transform ease-out duration-150 transform hover:scale-105 hover:opacity-100 opacity-90"
                @click="toggle"
            >
                                {navItems.dropmenu[0].title}<Icon name="arrow" />
            </button>

      <div x-show="open" x-transition.duration.400ms class="flex flex-col items-center mt-2" >
                

        <div x-data="dropdown" class="relative" @click.away="open = false">
        
          <!-- Botón principal con el título del dropdown -->
        <button
            @click="toggle"
            type="button"
            aria-expanded="false"
            aria-haspopup="true"
            class="hover:text-main px-4 py-2 rounded-md text-sm font-pattern font-light uppercase focus:outline-none inline-flex items-center text-left">
              {navItems.dropmenu[0].sub}
              <Icon name="arrow" />
        </button>
        
          <!-- Menú desplegable Servicios de Transporte Terrestre -->
          <div 
            x-show="open" x-transition.duration.400ms
            class="relative">
                {dropdowns.map((item) => (
                  <a
                    href={item.href}
                    class="block px-4 py-2 hover:text-main text-sm font-pattern font-light uppercase"
                  >
                    {item.text}
                  </a>
                ))}
          </div>
        </div>


                  <!-- Botón de LUXURY con Dropdown -->

        <div x-data="dropdown" class="relative" @click.away="open = false">
        
            <!-- Botón principal con el título del dropdown -->
          <button
                @click="toggle"
                type="button"
                class="relative hover:text-main px-4 py-2 rounded-md text-sm font-pattern font-light uppercase focus:outline-none inline-flex items-center text-left">
                                        {navItems.dropmenu[2].title} <Icon name="arrow" />
          </button>
          
            <!-- Menú desplegable -->
            <div 
              x-show="open" x-transition.duration.400ms class="relative">
                  {dropluxury.map((item) => (
                    <a
                      href={item.href}
                      class="block px-4 py-2 hover:text-main text-sm font-pattern font-light uppercase"
                    >
                      {item.text}
                    </a>
                  ))}
            </div>
          </div>


          <!-- Botón de Transportes con Dropdown -->

          <div x-data="dropdown" class="relative" @click.away="open = false">
        
            <!-- Botón principal con el título del dropdown -->
          <button
              @click="toggle"
              type="button"
              class="relative hover:text-main px-4 py-2 rounded-md text-sm font-pattern font-light uppercase focus:outline-none inline-flex items-center text-left">
                {navItems.dropmenu[3].title}
                <Icon name="arrow" />
          </button>
          
            <!-- Menú desplegable Servicios de Transporte Terrestre -->
            <div 
              x-show="open" x-transition.duration.400ms
              class="relative">
                  {transportation.map((item) => (
                    <a
                      href={item.href}
                      class="block px-4 py-2 hover:text-main text-sm font-pattern font-light uppercase"
                    >
                      {item.text}
                    </a>
                  ))}
            </div>
          </div>


            </div>
        </div>


            <!-- Botón de About con Dropdown -->
            <div x-data="dropdown"  class="text-center">
                           
          <button
            @click="toggle"
            type="button"
            class="relative hover:text-main px-4 py-2 rounded-md text-sm font-pattern font-light uppercase focus:outline-none inline-flex items-center text-center">
                      {navItems.dropmenu[1].title}
            <Icon name="arrow" />
          </button>
           <!-- Menú desplegable -->
           <div 
           x-show="open" x-transition.duration.400ms
           class="relative">
           {dropabout.map((item) => (
            <a
              href={item.href}
              class="block px-4 py-2 hover:text-main text-sm font-pattern font-light uppercase"
            >
              {item.text}
            </a>
          ))}
         </div>
                            
              
               </div>
      
              <!-- Botón de Contact Us -->
               <a
                  href={translatePath("/contact/")}
                  class="hover:text-main px-3 py-2 rounded-md text-sm font-pattern font-light uppercase focus:outline-none inline-flex items-center transition-transform ease-out duration-150 transform hover:scale-105 hover:opacity-100 opacity-90"
                >
                {t("nav.contact")}
              </a>
                <!-- Redes Sociales -->
              <div class="text-center">
                <ul class="mt-4 flex justify-center items-center gap-3 sm:justify-start md:gap-5">
                  <li>
                    <a
                      href="https://www.facebook.com/profile.php?id=61555851065583"
                      rel="noreferrer"
                      target="_blank"
                      class=" transition hover:text-teal-700/75"
                    >
                      <span class="sr-only">Facebook</span>
                      <Icon size={25} class="hover:scale-110" name="facebook" />
                    </a>
                  </li>
        
                  <li>
                    <a
                      href="https://www.instagram.com/brsolutions_co"
                      rel="noreferrer"
                      target="_blank"
                      class=" transition hover:text-teal-700/75 "
                    >
                      <span class="sr-only">Instagram</span>
                      <Icon size={25} class="hover:scale-110" name="instagram" />
                    </a>
                  </li>
        
                  <li>
                    <a
                      href="https://www.linkedin.com/company/br-solutions-co/"
                      rel="noreferrer"
                      target="_blank"
                      class=" transition hover:text-teal-700/75"
                    >
                      <span class="sr-only">LinkedIn</span>
                      <Icon size={30} class=" hover:scale-110" name="linkedin" />
                    </a>
                  </li>
        
                  <li>
                    <a
                      href="https://youtube.com/@brsolutionsco?si=q5_0lmUNHiwfX47c"
                      rel="noreferrer"
                      target="_blank"
                      class=" transition hover:text-teal-700/75"
                    >
                      <span class="sr-only">Youtube</span>
                      <Icon size={25} class="hover:scale-110 items-center" name="youtube" />
                    </a>
                  </li>
        
                  <li>
                    <a
                      href="https://www.tiktok.com/@br.solutions?_t=ZS-8tOmV1Wiozv&_r=1"
                      rel="noreferrer"
                      target="_blank"
                      class=" transition hover:text-teal-700/75"
                    >
                      <span class="sr-only">Tiktok</span>
                      <Icon size={25} class="hover:scale-110" name="tiktok" />
                    </a>
                  </li>
        
                </ul>
          </div>
    </div>
</div>



<script is:inline>
  document.addEventListener('alpine:init', () => {
      Alpine.data('dropdown', () => ({
          open: false,

          toggle() {
              this.open = ! this.open
          },
      }))
  })
</script>